.chart{
    flex: 4;
    box-shadow: 4px 3px 13px 3px rgba(203,195,195,0.87);
    -webkit-box-shadow: 4px 3px 13px 3px rgba(203,195,195,0.87);
    -moz-box-shadow: 4px 3px 13px 3px rgba(203,195,195,0.87);

    .title{
        margin: 20px 10px;
        color: rgb(187, 180, 180);
    }
}